{% extends 'base.html' %}
{% block content %}
<!-- Home -->
<article id="top" class="wrapper style1">
	<div class="container">
		<div class="row">
			<div class="col-4 col-5-large col-12-medium">
				<span class="image fit"><img src="{{ url_for('static', filename='images/logo.png') }}" alt="" /></span>
			</div>
			<div class="col-8 col-7-large col-12-medium">
				<header>
					<h1><strong>Cisco Vlan Manager</strong>.</h1>
				</header>
				<p>
					This application provides management interfaces for CISCO switches and routers belonging to the <strong>HackademINT</strong> cybersecurity club, allowing to create, delete VLANs, show running configurations and backup these configurations.
				</p>
				<a href="https://github.com/zteeed/cisco-vlan-manager" class="button large scrolly"><i style="padding-right: 15px" class="fa fa-github" aria-hidden="true"></i>Github project</a>

			</div>
		</div>
	</div>
</article>
{% endblock %}
